
.list-item {
    margin: 30px; 
}
@media (max-width : 500px) {
    .list-item {
        width : 40% 
    } 
}

@media (max-width : 768px ) and (min-width : 500px) {
    .list-item {
        width : 22% !important
    }
}

@media (max-width : 1024px ) and (min-width : 768px) {
    .list-item {
        width : 17% !important
    }
}

@media (min-width : 1024px) {
    .list-item {
        width : 10% !important
    }
}