.App {
  text-align: center;
}

.c-flex {
  display: flex;
}

.c-flex-sp-between {
  justify-content: space-between;
}

.c-flex-sp-around {
  justify-content: space-around;
}

.c-flex-center-items {
  justify-items: center;
}

.align-items {
  align-items: center;
}

.c-flex-wrap {
  flex-wrap: wrap;
}

@media (max-width : 500px) {
  .content {
      width : 95% 
  } 
}

@media (max-width : 768px ) and (min-width : 500px) {
  .content {
      width : 80% !important
  }
}

@media (max-width : 1024px ) and (min-width : 768px) {
  .content {
      width : 60% !important
  }
}

@media (min-width : 1024px) {
  .content {
      width : 40% !important
  }
}