.App {
  text-align: center;
}


c-flex {
  display: flex;
}

.c-flex-sp-between {
  justify-content: space-between;
}

.c-flex-sp-around {
  justify-content: space-around;
}

.c-flex-center-items {
  justify-items: center;
}

.align-items {
  align-items: center;
}

.c-flex-wrap {
  flex-wrap: wrap;
}

